---
import NombreBarra from '@/componentes/NombreBarra.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
import listas from '../../estaticos/listas.json';
---

<Plantilla>
  <main>
    <div class="listas">
      <NombreBarra titulo="Regiones" lista={listas.regiones} />
      <NombreBarra titulo="Años" lista={listas.años} />
      <NombreBarra titulo="Tipos" lista={listas.tipos} />
      <NombreBarra titulo="Líderes de Proyectos" lista={listas.lideres} />
      <NombreBarra titulo="Roles" lista={listas.roles} />
      <NombreBarra titulo="Participantes" lista={listas.participantes} />
    </div>
  </main>
</Plantilla>

<style lang="scss">
  .listas {
    display: flex;
  }
</style>
