---
import ListaNodos from '@/componentes/ListaNodos.astro';
import Mapa from '@/componentes/Mapa.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
import listas from '../../estaticos/listas.json';
import LineaTiempo from '@/componentes/LineaTiempo.astro';
---

<Plantilla>
  <main>
    <div id="contenedorListas" class="todoVisible">
      <ListaNodos id="regiones" titulo="Regiones" lista={listas.regiones} />
      <ListaNodos id="tipos" titulo="Categorías" lista={listas.tipos} />
      <ListaNodos id="lideres" titulo="Líderes de Proyectos" lista={listas.lideres} />
      <ListaNodos id="roles" titulo="Roles" lista={listas.roles} />
      <ListaNodos id="participantes" titulo="Participantes" lista={listas.participantes} />
      <ListaNodos id="ramas" titulo="Ramas" lista={listas.ramas} />
      <ListaNodos id="temas" titulo="Temas" lista={listas.temas} />
      <ListaNodos id="objetos" titulo="Objetos" lista={listas.objetos} />
      <ListaNodos id="lugares" titulo="Lugares" lista={listas.lugares} />
      <ListaNodos id="decadas" titulo="Decadas" lista={listas.decadas} />
    </div>

    <Mapa />

    <!-- <LineaTiempo tiempo={listas.años} decadas={listas.decadas} /> -->
  </main>
</Plantilla>

<script>
  const contenedorListas = document.getElementById('contenedorListas') as HTMLDivElement;
  const nodos = document.querySelectorAll<HTMLLIElement>('.nodo');

  nodos.forEach((nodo) => {
    const nodosConectados: HTMLLIElement[] = [];
    const conexiones = nodo.dataset.con?.split(',');

    if (conexiones) {
      conexiones.forEach((id) => {
        const elemento = document.getElementById(id) as HTMLLIElement;

        if (elemento) nodosConectados.push(elemento);
      });
    }
    nodo.onmouseenter = () => {
      nodosConectados.forEach((nodo) => {
        nodo.classList.add('visible');
      });
      nodo.classList.add('visible');
      contenedorListas.classList.remove('todoVisible');
    };

    nodo.onmouseleave = () => {
      nodosConectados.forEach((nodo) => {
        nodo.classList.remove('visible');
      });
      nodo.classList.remove('visible');
      contenedorListas.classList.add('todoVisible');
    };
  });
</script>

<style lang="scss" is:global>
  #contenedorListas {
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    position: relative;
    width: 50vw;

    li {
      opacity: 0.3;

      &.visible {
        opacity: 1;
      }
    }

    &.todoVisible {
      li {
        opacity: 1;
      }
    }

    .lista {
      height: 50vh;
      overflow-y: auto;
      overflow-x: hidden;
      position: relative;
      background-color: rgba(255, 255, 255, 0.6);
      flex-basis: 20%;

      h2 {
        position: sticky;
        top: 0;
        background-color: var(--bufandaVieja);
        color: white;
        margin-top: 0;
        font-size: 1em;
        padding: 0.2em;
      }
    }
  }
</style>
