---
import ListaNodos from '@/componentes/ListaNodos.astro';
import Mapa from '@/componentes/Mapa.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
import listas from '../../estaticos/listas.json';
import LineaTiempo from '@/componentes/LineaTiempo.astro';
import Ficha from '@/componentes/Ficha.astro';
import Cabezote from '@/componentes/Cabezote.astro';
---

<Plantilla>
  <Cabezote />
  <main>
    <Ficha />

    <div id="contenedorListas" class="todoVisible">
      <ListaNodos id="regiones" titulo="Regiones" lista={listas.regiones} />
      <ListaNodos id="tipos" titulo="Categorías" lista={listas.tipos} />
      <ListaNodos id="lideres" titulo="Líderes de Proyectos" lista={listas.lideres} />
      <ListaNodos id="roles" titulo="Roles" lista={listas.roles} />
      <ListaNodos id="participantes" titulo="Participantes" lista={listas.participantes} />
      <ListaNodos id="ramas" titulo="Ramas" lista={listas.ramas} />
      <ListaNodos id="temas" titulo="Temas" lista={listas.temas} />
      <ListaNodos id="objetos" titulo="Objetos" lista={listas.objetos} />
      <ListaNodos id="municipios" titulo="Municipios" lista={listas.municipios} />
      <ListaNodos id="decadas" titulo="Decadas" lista={listas.decadas} />
    </div>

    <Mapa />

    <div id="contenedorLineaTiempo">
      <LineaTiempo tiempo={listas.años} decadas={listas.decadas} />
    </div>
  </main>
</Plantilla>

<script>
  const contenedorListas = document.getElementById('contenedorListas') as HTMLDivElement;
  const nodos = document.querySelectorAll<HTMLLIElement>('.nodo');
  const fichaLista = document.getElementById('listaFicha') as HTMLDivElement;
  const fichaTitulo = document.getElementById('tituloFicha') as HTMLDivElement;
  const ficha = document.getElementById('contenedorFicha') as HTMLDivElement;
  const conteoFicha = document.getElementById('conteoFicha') as HTMLDivElement;

  nodos.forEach((nodo) => {
    const nodosConectados: HTMLLIElement[] = [];
    const conexiones = nodo.dataset.con?.split(',');
    const contenedor = nodo.parentElement;

    //listas independedientes de cada tipo de elemento/nodo
    const nodosRegiones: HTMLLIElement[] = [];
    const nodosCategorias: HTMLLIElement[] = [];
    const nodosLideres: HTMLLIElement[] = [];
    const nodosRoles: HTMLLIElement[] = [];
    const nodosParticipantes: HTMLLIElement[] = [];
    const nodosRamas: HTMLLIElement[] = [];
    const nodosTemas: HTMLLIElement[] = [];
    const nodosObjetos: HTMLLIElement[] = [];
    const nodosMunicipios: HTMLLIElement[] = [];
    const nodosDecadas: HTMLLIElement[] = [];

    if (conexiones) {
      conexiones.forEach((id) => {
        const elemento = document.getElementById(id) as HTMLLIElement;

        //Guardar elementos en lista correspondiente a categoria.
        if (elemento) {
          nodosConectados.push(elemento);
          if (id.split('_')[0] == 'regiones') {
            nodosRegiones.push(elemento);
          } else if (id.split('_')[0] == 'tipos') {
            nodosCategorias.push(elemento);
          } else if (id.split('_')[0] == 'lideres') {
            nodosLideres.push(elemento);
          } else if (id.split('_')[0] == 'roles') {
            nodosRoles.push(elemento);
          } else if (id.split('_')[0] == 'participantes') {
            nodosParticipantes.push(elemento);
          } else if (id.split('_')[0] == 'ramas') {
            nodosRamas.push(elemento);
          } else if (id.split('_')[0] == 'temas') {
            nodosTemas.push(elemento);
          } else if (id.split('_')[0] == 'objetos') {
            nodosObjetos.push(elemento);
          } else if (id.split('_')[0] == 'municipios') {
            nodosMunicipios.push(elemento);
          } else if (id.split('_')[0] == 'decadas') {
            nodosDecadas.push(elemento);
          }
        }
      });
    }

    nodo.onmouseenter = () => {
      nodosConectados.forEach((nodo) => {
        nodo.classList.add('visible', 'explotado');
      });
      contenedor?.classList.add('mantener');
      nodo.classList.add('visible');
      contenedorListas.classList.remove('todoVisible');
    };

    nodo.onmouseleave = () => {
      nodosConectados.forEach((nodo) => {
        nodo.classList.remove('visible', 'explotado');
      });
      contenedor?.classList.remove('mantener');
      nodo.classList.remove('visible');
      contenedorListas.classList.add('todoVisible');
    };

    nodo.onclick = () => {
      const listaElegida = nodo.parentElement;
      const titulo = nodo.querySelector<HTMLTitleElement>('.nombre');
      fichaLista.innerText = listaElegida ? `${listaElegida.dataset.lista}` : '';
      fichaTitulo.innerText = titulo ? titulo.innerText : '';
      const conteo = nodo.querySelector<HTMLSpanElement>('.conteo');
      conteoFicha.innerText = conteo ? conteo.innerText : '';
      ficha.style.display = 'block';

      //regiones
      const ulRegiones = document.getElementById('listaRegiones');
      ulRegiones!.innerHTML = '';
      nodosRegiones.forEach((nodo) => {
        let li = document.createElement('li');
        const nodoRegion = nodo.querySelector<HTMLTitleElement>('.nombre');
        li.innerText = nodoRegion ? nodoRegion.innerText : '';
        ulRegiones?.appendChild(li);
      });

      //categorias
      const ulCategorias = document.getElementById('listaTipos');
      ulCategorias!.innerHTML = '';
      nodosCategorias.forEach((nodo) => {
        let li = document.createElement('li');
        const nodoCategoria = nodo.querySelector<HTMLTitleElement>('.nombre');
        li.innerText = nodoCategoria ? nodoCategoria.innerText : '';
        ulCategorias?.appendChild(li);
      });

      //lideres
      const ulLideres = document.getElementById('listaLideres');
      ulLideres!.innerHTML = '';
      nodosLideres.forEach((nodo) => {
        let li = document.createElement('li');
        const nodoLider = nodo.querySelector<HTMLTitleElement>('.nombre');
        li.innerText = nodoLider ? nodoLider.innerText : '';
        ulLideres?.appendChild(li);
      });

      //roles
      const ulRoles = document.getElementById('listaRoles');
      ulRoles!.innerHTML = '';
      nodosRoles.forEach((nodo) => {
        let li = document.createElement('li');
        const nodoRol = nodo.querySelector<HTMLTitleElement>('.nombre');
        li.innerText = nodoRol ? nodoRol.innerText : '';
        ulRoles?.appendChild(li);
      });

      //participantes
      const ulParticipantes = document.getElementById('listaParticipantes');
      ulParticipantes!.innerHTML = '';
      nodosParticipantes.forEach((nodo) => {
        let li = document.createElement('li');
        const nodoParticipante = nodo.querySelector<HTMLTitleElement>('.nombre');
        li.innerText = nodoParticipante ? nodoParticipante.innerText : '';
        ulParticipantes?.appendChild(li);
      });

      //ramas
      const ulRamas = document.getElementById('listaRamas');
      ulRamas!.innerHTML = '';
      nodosRamas.forEach((nodo) => {
        let li = document.createElement('li');
        const nodoRama = nodo.querySelector<HTMLTitleElement>('.nombre');
        li.innerText = nodoRama ? nodoRama.innerText : '';
        ulRamas?.appendChild(li);
      });

      //temas
      const ulTemas = document.getElementById('listaTemas');
      ulTemas!.innerHTML = '';
      nodosTemas.forEach((nodo) => {
        let li = document.createElement('li');
        const nodoTema = nodo.querySelector<HTMLTitleElement>('.nombre');
        li.innerText = nodoTema ? nodoTema.innerText : '';
        ulTemas?.appendChild(li);
      });

      //objetos
      const ulObjetos = document.getElementById('listaObjetos');
      ulObjetos!.innerHTML = '';
      nodosObjetos.forEach((nodo) => {
        let li = document.createElement('li');
        const nodoObjeto = nodo.querySelector<HTMLTitleElement>('.nombre');
        li.innerText = nodoObjeto ? nodoObjeto.innerText : '';
        ulObjetos?.appendChild(li);
      });

      //Municipios
      const ulMunicipios = document.getElementById('listaMunicipios');
      ulMunicipios!.innerHTML = '';
      nodosMunicipios.forEach((nodo) => {
        let li = document.createElement('li');
        const nodoMunicipio = nodo.querySelector<HTMLTitleElement>('.nombre');
        li.innerText = nodoMunicipio ? nodoMunicipio.innerText : '';
        ulMunicipios?.appendChild(li);
      });

      //decadas
      const ulDecadas = document.getElementById('listaDecadas');
      ulDecadas!.innerHTML = '';
      nodosDecadas.forEach((nodo) => {
        let li = document.createElement('li');
        const nodoDecada = nodo.querySelector<HTMLTitleElement>('.nombre');
        li.innerText = nodoDecada ? nodoDecada.innerText : '';
        ulDecadas?.appendChild(li);
      });
    };
  });
</script>

<style lang="scss" is:global>
  @import '@/scss/constantes';
  #contenedorListas {
    display: none;
    //flex-direction: column;
    flex-wrap: wrap;
    z-index: 4;
    position: relative;
    width: 50vw;
    // max-width: 500px;
    height: calc(100vh - 50px);
    margin-top: 50px;
    background-color: var(--grisClaro);
    width: 80vw;
    padding: 3rem 2rem;

    ul {
      li {
        display: none;

        &.visible {
          display: block;
          // font-size: 0.75em;
        }
      }

      &.mantener {
        li {
          opacity: 0.3;
          display: block;

          &.visible {
            opacity: 1;
          }
        }
      }
    }

    &.todoVisible {
      li {
        opacity: 1;
        display: block;
      }
    }

    .lista {
      height: calc((100vh - 150px) / 2);
      overflow-y: auto;
      overflow-x: hidden;
      position: relative;
      background-color: rgba(255, 255, 255, 0.6);
      flex-basis: 20%;

      h2 {
        position: sticky;
        top: 0;
        background-color: var(--fondoVerdeOscuro);
        color: white;
        margin-top: 0;
        font-size: 1em;
        padding: 0.2em;
      }
    }

    &.visible {
      display: flex;
    }
  }

  #contenedorLineaTiempo {
    position: absolute;
    bottom: 0;
    width: 100vw;
  }
</style>
