---

---

<div class="seccionDatos" id="fichaImagenes">
  <div id="listaImagenes" class="contenido imagenes"></div>
</div>

<script>
  import 'photoswipe/style.css';
  import Galeria from 'photoswipe/lightbox';
  import { datosFicha } from '@/utilidades/cerebro';

  const seccionImagenes = document.getElementById('fichaImagenes') as HTMLDivElement;
  const contenedorImagenes = document.getElementById('listaImagenes') as HTMLDivElement;
  const urlBase = import.meta.env.BASE_URL;

  const galeria = new Galeria({
    gallery: '#listaImagenes',
    children: 'a',
    pswpModule: () => import('photoswipe')
  });

  galeria.init();

  datosFicha.subscribe((datos) => {
    if (!datos.visible) return;

    // Llenar imágenes, si hay
    if (datos.imagenes && datos.imagenes.length) {
      contenedorImagenes.innerHTML = '';
      seccionImagenes.style.display = 'flex';

      datos.imagenes.forEach((elemento) => {
        const imagenAncho = document.createElement('a');
        imagenAncho.classList.add('imagenAncho');
        imagenAncho.href = `${urlBase}/imgs/fotos/${datos.id}/${elemento.grande}`;
        imagenAncho.setAttribute('data-pswp-width', `${elemento.ancho}`);
        imagenAncho.setAttribute('data-pswp-height', `${elemento.alto}`);

        const imagen = document.createElement('img');
        imagen.classList.add('imagenFicha');
        imagen.src = `${urlBase}/imgs/fotos/${datos.id}/${elemento.peque}`;
        imagen.alt = '';

        imagenAncho.appendChild(imagen);
        contenedorImagenes.append(imagenAncho);
        imagen.alt = '';

        imagen.addEventListener('click', () => {
          imagen.classList.toggle('grande');
        });
      });
    } else {
      seccionImagenes.style.display = 'none';
    }
  });
</script>
