---
import ListaNodos from '@/componentes/ListaNodos.astro';
import listas from '../../estaticos/listas.json';
---

<div id="contenedorListas" class="todoVisible">
  <ListaNodos id="paises" titulo="Países" lista={listas.paises} />
  <ListaNodos id="categorias" titulo="Categorías" lista={listas.categorias} />
  <ListaNodos id="lideres" titulo="Líderes de Proyectos" lista={listas.lideres} />
  <ListaNodos id="roles" titulo="Roles" lista={listas.roles} />
  <ListaNodos id="participantes" titulo="Participantes" lista={listas.participantes} />
  <ListaNodos id="ramas" titulo="Ramas" lista={listas.ramas} />
  <ListaNodos id="temas" titulo="Temas" lista={listas.temas} />
  <ListaNodos id="objetos" titulo="Objetos" lista={listas.objetos} />
  <ListaNodos id="municipios" titulo="Municipios" lista={listas.municipios} />
  <ListaNodos id="decadas" titulo="Décadas" lista={listas.decadas} />
</div>

<script>
  const nodos = document.querySelectorAll<HTMLLIElement>('.nodo');
  import { datosListas, elementoSeleccionado } from '@/utilidades/cerebro';

  datosListas.subscribe((datos) => {
    if (!Object.keys(datos).length) return;

    nodos.forEach((nodo) => {
      const nodosConectados: HTMLLIElement[] = [];
      const proyectosConectados: HTMLLIElement[] = [];
      const proyectos = nodo.dataset.proyectos?.split(',');
      const contenedor = nodo.parentElement;
      const { indice, tipo } = nodo.dataset;

      if (proyectos) {
        proyectos.forEach((idProyecto) => {
          const proyecto = document.getElementById(`proyecto_${idProyecto}`) as HTMLLIElement;

          if (proyecto) {
            proyectosConectados.push(proyecto);
          }
        });
      }

      nodo.onmouseenter = () => {
        nodosConectados.forEach((nodo) => {
          nodo.classList.add('visible', 'explotado');
        });

        proyectosConectados.forEach((nodo) => {
          nodo.classList.add('resaltado');
        });

        contenedor?.classList.add('mantener');
        nodo.classList.add('visible');
      };

      nodo.onmouseleave = () => {
        nodosConectados.forEach((nodo) => {
          nodo.classList.remove('visible', 'explotado');
        });

        proyectosConectados.forEach((nodo) => {
          nodo.classList.remove('resaltado');
        });

        contenedor?.classList.remove('mantener');
        nodo.classList.remove('visible');
      };

      nodo.onclick = () => {
        if (!indice || !tipo) return;
        elementoSeleccionado.set({ tipo, id: indice, lista: nodo.parentElement?.dataset.lista || '' });
      };
    });
  });
</script>
