---
import type { ElementoLista, Listas } from '@/tipos';

interface Props {
  id: keyof Listas;
  titulo: string;
  lista: ElementoLista[];
}

const { lista, titulo, id } = Astro.props;
---

<section id={id} class="lista">
  <h2>{titulo}</h2>
  <ul>
    {
      lista.map((elemento, i) => (
        <li
          id={`${id}_${i}`}
          class="nodo"
          data-con={`${elemento.relaciones.map((rel) => `${rel.tipo}_${rel.indice}`)}`}
        >
          <h3 class="nombre">{elemento.nombre}</h3>
          <div class="barra">
            <span class="linea" style={`width: ${elemento.conteo}%`} />
            <span class="conteo">{elemento.conteo}</span>
          </div>
        </li>
      ))
    }
  </ul>
</section>

<script></script>

<style lang="scss">
  li {
    cursor: pointer;

    &:hover {
      background-color: white;
    }
  }

  .nombre {
    margin: 0;
    font-size: 0.85em;
  }

  .barra {
    display: flex;
    align-items: center;

    .linea {
      height: 2px;
      background-color: aqua;
    }

    .conteo {
      margin-left: 3px;
    }
  }
</style>
