---
import type { ElementoLista, Listas } from '@/tipos';

interface Props {
  id: keyof Listas;
  titulo: string;
  lista: ElementoLista[];
}

const { lista, titulo, id } = Astro.props;
---

<section id={id} class="lista">
  <h2 class="titulo">{titulo}</h2>
  <ul class=`contenedorElementos ${id}` data-lista=`${titulo}`>
    {
      lista.map((elemento, i) => (
        <li id={`${id}_${i}`} class="nodo" data-tipo={id} data-indice={i} data-proyectos={elemento.proyectos}>
          <h3 class="nombre">{elemento.nombre}</h3>
          <div class="barra">
            <span class="linea" style={`width: ${elemento.conteo}%`} />
            <span class="conteo">{elemento.conteo}</span>
          </div>
        </li>
      ))
    }
  </ul>
</section>

<script>
  const listas = document.querySelectorAll<HTMLElement>('.lista');
  const contenedorListas = document.getElementById('contenedorListas') as HTMLDivElement;
  // Función para abrir y cerrar listas. Falta decidir si se usa en teléfonos
  listas.forEach((lista) => {
    const titulo = lista.querySelector('.titulo');
    const contenedorElementos = lista.querySelector('.contenedorElementos');

    titulo?.addEventListener('click', () => {
      const listaAbierta = contenedorListas.querySelector('.abierto');
      if (listaAbierta && !contenedorElementos?.classList.contains('abierto')) {
        listaAbierta.classList.remove('abierto');
        contenedorElementos?.classList.add('abierto');
      } else contenedorElementos?.classList.toggle('abierto');
    });
  });
</script>

<style lang="scss">
  @import '@/scss/constantes';
  .contenedorElementos {
    display: none;
    max-height: 20vh;
    overflow-y: visible;

    &.abierto {
      display: contents;
    }
  }

  li {
    cursor: pointer;

    &:hover {
      background-color: white;
    }
  }

  .titulo {
    cursor: pointer;
  }

  .nombre {
    margin: 0;
    font-size: 0.85em;
  }

  .barra {
    display: flex;
    align-items: center;

    .linea {
      height: 0.25rem;
      background-color: var(--resaltadoVerde);
    }

    .conteo {
      margin-left: 3px;
    }
  }
</style>
