---
import ListaNodos from '@/componentes/ListaNodos.astro';
import listas from '../../estaticos/listas.json';
---

<div id="contenedorListas" class="todoVisible">
  <ListaNodos id="regiones" titulo="Regiones" lista={listas.regiones} />
  <ListaNodos id="tipos" titulo="Categorías" lista={listas.tipos} />
  <ListaNodos id="lideres" titulo="Líderes de Proyectos" lista={listas.lideres} />
  <ListaNodos id="roles" titulo="Roles" lista={listas.roles} />
  <ListaNodos id="participantes" titulo="Participantes" lista={listas.participantes} />
  <ListaNodos id="ramas" titulo="Ramas" lista={listas.ramas} />
  <ListaNodos id="temas" titulo="Temas" lista={listas.temas} />
  <ListaNodos id="objetos" titulo="Objetos" lista={listas.objetos} />
  <ListaNodos id="municipios" titulo="Municipios" lista={listas.municipios} />
  <ListaNodos id="decadas" titulo="Décadas" lista={listas.decadas} />
</div>

<script>
  const nodos = document.querySelectorAll<HTMLLIElement>('.nodo');
  import { datosFicha } from '@/utilidades/cerebro';

  nodos.forEach((nodo) => {
    const nodosConectados: HTMLLIElement[] = [];
    const proyectosConectados: HTMLLIElement[] = [];
    const conexiones = nodo.dataset.con?.split(',');
    const proyectos = nodo.dataset.proyectos?.split(',');
    const contenedor = nodo.parentElement;

    if (proyectos) {
      proyectos.forEach((idProyecto) => {
        const proyecto = document.getElementById(`proyecto_${idProyecto}`) as HTMLLIElement;

        if (proyecto) {
          proyectosConectados.push(proyecto);
        }
      });
    }

    if (conexiones) {
      conexiones.forEach((id) => {
        const elemento = document.getElementById(id) as HTMLLIElement;

        //Guardar elementos en lista correspondiente a categoria.
        if (elemento) {
          nodosConectados.push(elemento);
        }
      });
    }

    nodo.onmouseenter = () => {
      nodosConectados.forEach((nodo) => {
        nodo.classList.add('visible', 'explotado');
      });

      proyectosConectados.forEach((nodo) => {
        nodo.classList.add('resaltado');
      });

      contenedor?.classList.add('mantener');
      nodo.classList.add('visible');
    };

    nodo.onmouseleave = () => {
      nodosConectados.forEach((nodo) => {
        nodo.classList.remove('visible', 'explotado');
      });

      proyectosConectados.forEach((nodo) => {
        nodo.classList.remove('resaltado');
      });

      contenedor?.classList.remove('mantener');
      nodo.classList.remove('visible');
    };

    nodo.onclick = () => {
      const listaElegida = nodo.parentElement;
      const titulo = nodo.querySelector<HTMLTitleElement>('.nombre');
      const conteo = nodo.querySelector<HTMLSpanElement>('.conteo');

      datosFicha.set({
        visible: true,
        lista: listaElegida ? listaElegida.dataset.lista : '',
        titulo: titulo?.innerText,
        conteo: conteo ? conteo.innerText : ''
      });
    };
  });
</script>
