---
interface Props {
  titulo: string;
  lista: {
    nombre: string;
    slug: string;
    conteo: number;
  }[];
}

const { lista, titulo } = Astro.props;
---

<section>
  <h2>{titulo}</h2>
  <ul>
    {
      lista.map((elemento) => (
        <li class={`${elemento.slug}`}>
          <h3 class="nombre">{elemento.nombre}</h3>
          <div class="barra">
            <span class="linea" style={`width: ${elemento.conteo}%`} />
            <span class="conteo">{elemento.conteo}</span>
          </div>
        </li>
      ))
    }
  </ul>
</section>

<script></script>

<style lang="scss">
  .nombre {
    margin: 0;
    font-size: 0.85em;
  }

  .barra {
    display: flex;
    align-items: center;

    .linea {
      height: 2px;
      background-color: aqua;
    }

    .conteo {
      margin-left: 3px;
    }
  }
</style>
